body{
    background-color: rgb(185, 228, 224);
}
img{
    width: 600px;
    height: 600px;
    margin-left: 350px;
}
button{
    height: 50px;
    width: 100px;
    background-color: rgb(216, 179, 179);
    border-radius: 20px;
    margin-bottom: 100px;
}